@inherits LayoutComponentBase

<div class="page">
    <header class="top">
        <Icon Value="Icons.Mdi.Star" Size="28" Color="#ffb300" />
        <span class="brand">Iconistic</span>
    </header>
    <main>
        @Body
    </main>
</div>
